---
layout: default
title: "TaskTackler: The Task App for the Detail-Oriented"
---


      <div id="main" class="main tt-main">
        <div class="tt-block tt-block--hero wow fadeIn"><!-- Hero Section-->
          <div class="container container-xl">
            <div class="tt-hero row">
              <div class="col-md-6">
                <h1>Meet TaskTackler</h1>
                <p>The task app for people who love lists.</p>
                <div class="tt-hero-cta">
                  <a href="" class="tt-btn tt-btn--big tt-btn-todo tt-btn-todo--square"><span></span> Start your 7 day trial</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="tt-hero-screen">
                  <img src="/assets/images/screenshot.png" class="tt-hero-screen-img" alt="Task Tackler App" />
                </div>
              </div>
            </div>
          </div>
        </div><!-- Hero End -->
        
        <div class="tt-block tt-block--features wow fadeInDown"><!-- Features Section-->
        <div class="container container-xl">
          <div class="tt-block-header">
            <div>
              <img src="/assets/images/check.svg" />
            </div>
            <div>
              <h2>Key Features</h2>
              <p>The best task management app for the detail-oriented. </p>
            </div>
          </div>
          <div class="tt-features row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="tt-features">
                <div class="tt-features-icon">
                  <img src="/assets/images/icons/light/bell.svg" alt="Dependent Tasks" />
                </div>
                <div class="tt-features-title">Dependent Tasks</div>
                <div class="tt-features-text">Only see tasks you can do right now - even if you have complex dependencies.</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="tt-features">
                <div class="tt-features-icon">
                  <img src="/assets/images/icons/light/refresh.svg" alt="Recurring Tasks" />
                </div>
                <div class="tt-features-title">Recurring Tasks</div>
                <div class="tt-features-text">Set tasks to recur based on the last time you finished them. Choose to hide recurring tasks until they’re due again, or create infinitely recurring tasks like “Read for 30 minutes.”</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="tt-features">
                <div class="tt-features-icon">
                  <img src="/assets/images/icons/light/light.svg" alt="Quick Capture" />
                </div>
                <div class="tt-features-title">Quick Capture</div>
                <div class="tt-features-text">Text or type quick thoughts and sort them later, so you never forget.</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="tt-features">
                <div class="tt-features-icon">
                  <img src="/assets/images/icons/light/filter.svg" alt="Routines" />
                </div>
                <div class="tt-features-title">Routines</div>
                <div class="tt-features-text">Optimize the flow of starting your day, ending your day, weekly reviews, or your skincare routine.</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="tt-features">
                <div class="tt-features-icon">
                  <img src="/assets/images/icons/light/guage.svg" alt="Dashboard" />
                </div>
                <div class="tt-features-title">Dashboard</div>
                <div class="tt-features-text">Work on your top tasks from one place.</div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="tt-features">
                <div class="tt-features-icon">
                  <img src="/assets/images/icons/light/random.svg" alt="Random" />
                </div>
                <div class="tt-features-title">Random</div>
                <div class="tt-features-text">Add some fun to your flow. A “random” button lets you select a random task from every list.</div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Features End -->
      
      <div class="tt-block tt-block--product wow fadeInDown"><!-- Product Section-->
        <div class="container container-xl">
          <div class="tt-block-header">
            <div>
              <img src="/assets/images/check.svg" />
            </div>
            <div class="tt-block-header--trim">
              <h2>Achieve maximum productivity</h2>
              <p>TaskTackler works by capturing everything on your plate, and optimizing the flow for you to get the most done based on your priorities and even your current mood.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              {% include 
                product.html
                image="assets/images/themes.png"
                title="Set your themes."
                description="Capture tasks across every facet of your life - your career, your family, and your personal life."
                cta_text="Check out our themes"
                cta_url="#"
              %}
            </div>
            <div class="col-12 col-md-6">
              {% include 
                product.html
                image="assets/images/target.png"
                title="Set your targets."
                description="What do you want to accomplish? Assign every task to a target, and TaskTackler will always serve you up the most important thing to work on."
                cta_text="Get your targets locked"
                cta_url="#"
              %}
            </div>
            <div class="col-12 col-md-6">
              {% include 
                product.html
                image="assets/images/temperaments.png"
                title="Optimize your mood."
                description="Indicate the best temperament for completing each task. Stop wasting your best hours folding laundry, and still find ways to be productive even on your laziest nights."
                cta_text="Set the mood ... for tasks!"
                cta_url="#"
              %}
            </div>
            <div class="col-12 col-md-6">
              {% include 
                product.html
                image="assets/images/tackle.png"
                title="Add relevant task details."
                description="Indicate task types (e.g. brainstorming, reading, writing), necessary tools, and other details to make achieving flow state a breeze."
                cta_text="Start working toward your flow"
                cta_url="#"
              %}
            </div>
          </div>
        </div>
      </div><!-- Product End -->
      
      <div class="tt-block tt-block--blog wow fadeInDown"><!-- Blog Section-->
        <div class="container container-xl">
          <div class="tt-blog-promo">
            <div class="tt-blog-promo-content">
              <div class="tt-block-header">
                <div>
                  <img src="/assets/images/check-reverse.svg" />
                </div>
                <div class="tt-block-header--trim">
                  <h2>ABO - Always Be Optimizing</h2>
                  <p>Subscribe to the TaskTackler Blog for best practices in general productivity, and tips on how to best use the app.</p>
                  <div class="tt-blog-cta">
                    <a href="" class="tt-btn tt-btn--big tt-btn-todo tt-btn-todo--square"><span></span> Subscribe to our blog</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tt-blog-promo-image">
              <img src="/assets/images/check-transparent.svg" />
            </div>
          </div>
          <div class="tt-blog-posts">
            <h3>Our latest posts</h3>
            <ul class="tt-post-list tt-post-list--promo row">
              {% for post in site.posts %}
              <li class="col-md-4">
                <div class="tt-post-item">
                  <div class="tt-post-image"><a class="tt-post-link" href="{{ post.url | prepend: site.baseurl }}"><img src="/assets/images/posts/{{ post.featured_image }}" alt="{{ post.title }}" /></a></div>
                  <div class="tt-post-title"><a class="tt-post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
                  
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div><!-- Blog End -->
      
      <div class="tt-block tt-block--reviews wow fadeInDown"><!-- Reviews Section-->
        <div class="container container-xl">
          <div class="tt-block-header">
            <div>
              <img src="/assets/images/check.svg" />
            </div>
            <div class="tt-block-header--trim">
              <h2>Our customers say the nicest things</h2>
            </div>
          </div>
          <div class="tt-reviews">
            <div class="tt-reviews-break" role="presentation">
              <img src="/assets/images/icons/purple/beep.svg" aria-role="presentation" />
            </div>
            <div class="tt-reviews-list owl-carousel">
              <div class="tt-review">
                <div class="tt-review-copy">We have very fair pricing policy that would benefit you and us at the same time. Choose what price you're willing to pay. Get the free plan & if you need more - pay.</div>
                <div class="tt-review-credit">— Albert Rossi</div>
              </div>
              <div class="tt-review">
                <div class="tt-review-copy">We have very fair pricing policy that would benefit you and us at the same time. Choose what price you're willing to pay. Get the free plan & if you need more - pay.</div>
                <div class="tt-review-credit">— Albert Rossi</div>
              </div>
              <div class="tt-review">
                <div class="tt-review-copy">We have very fair pricing policy that would benefit you and us at the same time. Choose what price you're willing to pay. Get the free plan & if you need more - pay.</div>
                <div class="tt-review-credit">— Albert Rossi</div>
              </div>
              <div class="tt-review">
                <div class="tt-review-copy">We have very fair pricing policy that would benefit you and us at the same time. Choose what price you're willing to pay. Get the free plan & if you need more - pay.</div>
                <div class="tt-review-credit">— Albert Rossi</div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- Reviews End -->


      <div class="tt-block tt-block--pricing wow fadeInDown"><!-- Pricing Section-->
        <div class="container container-xl">
          <div class="tt-block-header">
            <div>
              <img src="/assets/images/check.svg" />
            </div>
            <div class="tt-block-header--trim">
              <h2>Start tackling your tasks today</h2>
            </div>
          </div>
          <div class="tt-pricing">
            <div class="tt-pricing-content">
              <p>Go with a $10 monthly plan, or save $20 with an annual plan. Either way, you get full access to our suite of tools, including</p>
              <ul>
                <li><span></span> Unlimited targets</li>
                <li><span></span> Unlimited tasks</li>
              </ul>
              <p><strong>Let’s get to it! Check your first box today by choosing the right plan for you.</strong></p>
            </div>
            <div class="tt-pricing-options">
              <a href="" class="tt-btn tt-btn--big tt-btn-todo tt-btn-todo--round tt-btn-todo--secondary"><span></span> I&nbsp;want&nbsp;the&nbsp;Monthly&nbsp;Plan<br />at&nbsp;$10&nbsp;a&nbsp;month</a>
              <a href="" class="tt-btn tt-btn--big tt-btn-todo tt-btn-todo--round"><span></span> I&nbsp;want&nbsp;the&nbsp;Annual&nbsp;Plan<br />at&nbsp;$100&nbsp;a&nbsp;year</a>
            </div>
          </div>
        </div>
      </div><!-- Pricing End -->
	   