---
layout: default
title: TaskTackler Blog
description: The blog
---

{% for post in site.posts %}
  {% if post.featured %}
    {% assign featured_post = post %}
  {% endif %}
{% endfor %}
	
    <div class="container-m text-center">
      <div class="home hero-2"><!-- Hero Section-->
        {{ featured_post.title }}
      
        <div class="hero-content wow fadeIn">
          <p>{{ page.description }}</p>
          {% for other_post in site.posts %}
            {% if !other_post.featured %}
              <p>
                <a href="{{ post.url }}" title="{{ post.title }}">{{ other_post.title }}</a>
                <br />
                {{ other_post.description }}
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div><!-- Hero End -->
