---
layout: default
---
<div id="main" class="main tt-main">
  <div class="container container-xl">
    <div class="tt-bread">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>{{ page.title }}</li>
      </ul>
    </div>
  </div>
  <div class="tt-block tt-block--post tt-prose wow fadeIn">
    <div class="container container-xl">
      <h1>{{ page.title }}</h1>
      <div class="tt-byline">By {{ page.author }}</div>
      
      <div class="tt-image">
        <img src="/assets/images/posts/{{ page.featured_image }}" alt="{{ post.title }}" />
        <div class="tt-caption">{{ page.featured_image_caption }}</div>
      </div>
      
      <div class="tt-post">
        {{ content }}
      </div>
    </div>
</div>